# Week 4 Functions & Modules

a) Built-in functions

In [2]:
# Built-in functions
len(['Amy','Betty','Cherry']) #3
max([1,11,111]) #111
min([-1,-11,-111]) #-111
type('Python') #str
round(3.14159265358979323, 3) #3.142

import math
math.floor(3.14159265358979323) #3
math.ceil(3.14159265358979323) #4

4

b) Self-defined functions

In [ ]:
def function (<params>):
    <code>
    return <data>

In [3]:
# Average Bet Function
def avgbet(totalbet, games):
    x = totalbet/games
    return x

avgbet(796,61)

13.049180327868852

In [5]:
# Gaming Day Function
import datetime as dt

def gamingday(endtime):
    if endtime.hour >= 0 and endtime.hour < 5:
        x = endtime.date()+ dt.timedelta(days=-1)
    else:
        x = endtime.date()
    return x

gamingday(dt.datetime(2022, 6, 13, 4, 59, 00, 000000))
#gamingday(dt.datetime.now())

datetime.date(2022, 6, 12)

In [7]:
# Round Down Function
import math

def rounddown(value, dp):
    x = math.floor(value/pow(10,-dp))*pow(10,-dp)
    return x

rounddown(3.14159, 3)

3.141

In [9]:
# Function in Function
revised_avgbet = rounddown(avgbet(796,61),2)
print(revised_avgbet)
#print(round(revised_avgbet,2))

13.040000000000001
13.04

Modules

a module is a single Python file (.py), a package is a directory of Python modules

In [11]:
import os
os.getcwd() #pwd
os.listdir() #ls -al

['Webscraping Macau Flight Exercise.ipynb',
 'Untitled2.ipynb',
 'Week 4-6.ipynb',
 '.vscode-server',
 'Untitled1.ipynb',
 'Baccarat_Testing.ipynb',
 'Untitled.ipynb',
 'Webscraping Course.ipynb',
 'Baccarat Kat.ipynb']

# Week 6 Pandas

Module - Introduction to Pandas

Pandas is an open source data analysis and manipulation tool.

In [ ]:
# List (no need to declare)

[1,2,3,4,5,6]

# Nested list
data = [[1,4],[2,5],[3,6]]
data
[[1,4],[2,5],[3,6]]

In [ ]:
#Array

#1D Array = Series
#2D Array = Dataframe

import numpy as np
np.array([[1,4],[2,5],[3,6]])
np.array(data)

In [ ]:
# Dictionary
# dict = {'key1': value1, 'key2': value2}

dict = {'Column1': 'value1', 'Column2': 'value2'}
dict

In [ ]:
#creating a dataframe

import pandas as pd
df = pd.DataFrame(data, index=['row1','row2','row3'], columns = ['column1','column2'])
df

In [ ]:
wynnID2 = [50010300, 80010300]
property2 = ['WM','WP']
dict2 = {'WynnID':wynnID2, 'Property':property2}
dict2 = {'WynnID':[50010300, 80010300], 'Property':['WM','WP']}

df_dict2 = pd.DataFrame(dict2)
df_dict2

In [ ]:
#reading the csv file
#df2 = pd.read_csv('Sample.csv')

wynnID3 = [50010300, 50010301, 50010302, 50010303, 50010304, 50010305, 50010306, 50010307, 50010308, 50010309, 50010310, 50010311, 50010312, 50010313, 50010314, 50010315, 50010316, 50010300]
property3 = ['WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', None, 'WM']
gametype3 = ['T','T','S','S','T','S','S','T','T','S','T','S','T','T','S','S','T','T']
RCD3 = [100,900,150,850,200,800,250,750,300,700,350,650,400,550,450, None,500,100]
timeplayed3 = [501,215,279,316,787,683,550,533,141,640,300,791,258,792,802,130,580,501]
dict3 = {'WynnID':wynnID3, 'Property':property3, 'Game Type':gametype3, 'RCD':RCD3, 'Time Played':timeplayed3}


df_dict3 = pd.DataFrame(dict3)

df_dict3.head()   #first 5

In [ ]:
df_dict3.tail()   #last 5

In [ ]:
df_dict3.head(10)    #first 10

In [ ]:
df_dict3['WynnID'].head()

In [ ]:
df_dict3

In [ ]:
# dataframe attribute example

df_dict3.shape      #a x b array

In [ ]:
df_dict3.columns

In [ ]:
df_dict3.WynnID

In [ ]:
df_dict3.Property

In [ ]:
df_dict3.index

In [ ]:
df_dict3.dtypes

In [ ]:
df_dict3.info()

In [ ]:
df_dict3.describe()

In [ ]:
df_dict3 = df_dict3.astype({"WynnID":str})
df_dict3.dtypes

In [ ]:
# Length

len(df_dict3)

In [ ]:
# Operations on Dataframes

Adding New Columns

In [ ]:
# Add New Columns

if df_dict3['Game Type'] == 'T':
    df_dict3['Full Game Type'] = 'Table'
elif  df_dict3['Game Type'] == 'S':
    df_dict3['Full Game Type'] = 'Slot'

In [ ]:
df_dict3['Full Game Type'] = np.where(df_dict3['Game Type'] == 'T', 'Table', 'Slot')
df_dict3

In [ ]:
# concat

df_dict3['Predom'] = df_dict3['Property'] + ' ' + df_dict3['Full Game Type']
df_dict3['Valid'] = 1
df_dict3

Drop Column

In [ ]:
del df_dict3['Valid']
df_dict3

Rename Column

In [ ]:
df_dict3.rename(columns={'Predom':'Team Predom'}, inplace=True)
df_dict3

Rank

In [ ]:
# method = first otherwise both will share the same ranking. eg. 16.5
df_dict3['RCD Ranking'] = df_dict3.RCD.rank(method="first", ascending=False)    # method "dense"
df_dict3

Sorting Values

In [ ]:
df_dict3.sort_values(['RCD','WynnID'],ascending=False)

In [ ]:
df_dict3['RCD'].mean()

In [ ]:
df_dict3['RCD'].median()

In [ ]:
df_dict3['RCD'].std()

In [ ]:
df_dict3['RCD'].max()

In [ ]:
df_dict3['RCD'].min()

In [ ]:
df_dict3['RCD'].count()

In [ ]:
df_dict3['Property'].count()
df_dict3['Property'].value_counts()     # group by

In [ ]:
df_dict3['Property'].value_counts(normalize=True)
df_dict3['Property'].value_counts(normalize=True).round(2)

In [ ]:
df_dict3['Property'].nunique()  # distinct

In [ ]:
df_dict3.loc[df_dict3['Full Game Type'] == 'Table', 'Property'].agg(['nunique','count','size'])

Data Cleaning
1. Empty cell : fill in data or drop the row
2. Wrong format : convert to right format or drop the row
3. Wrong data : replace data or drop the row
4. Duplicates : drop the row

In [43]:
import pandas as pd
import numpy as np

wynnID3 = [50010300, 50010301, 50010302, 50010303, 50010304, 50010305, 50010306, 50010307, 50010308, 50010309, 50010310, 50010311, 50010312, 50010313, 50010314, 50010315, 50010316, '50010300']
property3 = ['WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', 'WM', 'WP', None, 'WM']
gametype3 = ['T','T','S','S','T','S','S','T','T','S','T','S','T','T','S','S','T','T']
RCD3 = [100,900,150,850,200,800,250,750,300,700,350,650,400,550,450, None,500,100]
timeplayed3 = [501,215,279,316,787,683,550,533,141,640,300,791,258,792,802,130,580,501]
boolean3 = [True, False, True, False, True, True, False, False, True, False, False, True, False, True, True, False, True, True]
dict3 = {'WynnID':wynnID3, 'Property':property3, 'Game Type':gametype3, 'RCD':RCD3, 'Time Played':timeplayed3, 'Boolean':boolean3}

df_dict3 = pd.DataFrame(dict3)
df_dict3

      WynnID Property Game Type    RCD  Time Played  Boolean
0   50010300       WM         T  100.0          501     True
1   50010301       WP         T  900.0          215    False
2   50010302       WM         S  150.0          279     True
3   50010303       WP         S  850.0          316    False
4   50010304       WM         T  200.0          787     True
5   50010305       WP         S  800.0          683     True
6   50010306       WM         S  250.0          550    False
7   50010307       WP         T  750.0          533    False
8   50010308       WM         T  300.0          141     True
9   50010309       WP         S  700.0          640    False
10  50010310       WM         T  350.0          300    False
11  50010311       WP         S  650.0          791     True
12  50010312       WM         T  400.0          258    False
13  50010313       WP         T  550.0          792     True
14  50010314       WM         S  450.0          802     True
15  50010315       WP         S    NaN          130    False
16  50010316     None         T  500.0          580     True
17  50010300       WM         T  100.0          501     True

Empty Cells

In [21]:
df_dict3.dropna()
#df_dict3.dropna(subset=['Property'])

#df_dict3['Property'].fillna('WP', inplace=True)
#df_dict3
#df_dict3.RCD.fillna(round(df_dict3.RCD.mean(),2), inplace=True)
#df_dict3

      WynnID Property Game Type     RCD  Time Played  Boolean
0   50010300       WM         T  100.00          501     True
1   50010301       WP         T  900.00          215    False
2   50010302       WM         S  150.00          279     True
3   50010303       WP         S  850.00          316    False
4   50010304       WM         T  200.00          787     True
5   50010305       WP         S  800.00          683     True
6   50010306       WM         S  250.00          550    False
7   50010307       WP         T  750.00          533    False
8   50010308       WM         T  300.00          141     True
9   50010309       WP         S  700.00          640    False
10  50010310       WM         T  350.00          300    False
11  50010311       WP         S  650.00          791     True
12  50010312       WM         T  400.00          258    False
13  50010313       WP         T  550.00          792     True
14  50010314       WM         S  450.00          802     True
15  50010315       WP         S  470.59          130    False
16  50010316       WP         T  500.00          580     True
17  50010300       WM         T  100.00          501     True

Wrong format

In [48]:
df_dict3.corr()
#df_dict3.WynnID=df_dict3.WynnID.astype(int)
df_dict3.WynnID=pd.to_numeric(df_dict3['WynnID'])
#df_dict3.corr()

Wrong data

In [46]:
#loc: by row and column label
df_dict3.loc[[0,17], ['WynnID']] #list of rows, with column name
#df_dict3.loc[[0,17], 'WynnID'] #list of rows, without column name
#df_dict3.loc[0:2, 'WynnID':'Game Type'] #range of rows, range of columns

#iloc: by row and column index
#df_dict3.iloc[0:2,0:2] #range of rows, range of columns, actually 0,1
#df_dict3.iloc[[0,1],[0,1]] #list of rows, with column name
#df_dict3.iloc[-2,1]='WMP'
#df_dict3

#drop rows
#for x in df_dict3.index:
    #if df_dict3.loc[x,'RCD']>=900:
        #df_dict3.drop(x, inplace=True)
#df_dict3

      WynnID Property Game Type    RCD  Time Played  Boolean
0   50010300       WM         T  100.0          501     True
2   50010302       WM         S  150.0          279     True
3   50010303       WP         S  850.0          316    False
4   50010304       WM         T  200.0          787     True
5   50010305       WP         S  800.0          683     True
6   50010306       WM         S  250.0          550    False
7   50010307       WP         T  750.0          533    False
8   50010308       WM         T  300.0          141     True
9   50010309       WP         S  700.0          640    False
10  50010310       WM         T  350.0          300    False
11  50010311       WP         S  650.0          791     True
12  50010312       WM         T  400.0          258    False
13  50010313       WP         T  550.0          792     True
14  50010314       WM         S  450.0          802     True
15  50010315       WP         S    NaN          130    False
16  50010316      WMP         T  500.0          580     True
17  50010300       WM         T  100.0          501     True

Duplication

df.duplicated()
1. subset = column or list of columns
2. keep = 'first','last',False; default set as first

df.drop_duplicates()
1. inplace = True, False; default set as False

In [54]:
df_dict3.duplicated()
#df_dict3.WynnID.duplicated(keep=False) #single column method 1
#df_dict3.duplicated(subset='WynnID', keep=False) #single column method 2
#df_dict3.duplicated(subset=['Property','Game Type']) #multiple columns, keep is default set as first

#df_dict3.drop_duplicates()
#df_dict3

      WynnID Property Game Type    RCD  Time Played  Boolean
0   50010300       WM         T  100.0          501     True
2   50010302       WM         S  150.0          279     True
3   50010303       WP         S  850.0          316    False
4   50010304       WM         T  200.0          787     True
5   50010305       WP         S  800.0          683     True
6   50010306       WM         S  250.0          550    False
7   50010307       WP         T  750.0          533    False
8   50010308       WM         T  300.0          141     True
9   50010309       WP         S  700.0          640    False
10  50010310       WM         T  350.0          300    False
11  50010311       WP         S  650.0          791     True
12  50010312       WM         T  400.0          258    False
13  50010313       WP         T  550.0          792     True
14  50010314       WM         S  450.0          802     True
15  50010315       WP         S    NaN          130    False
16  50010316      WMP         T  500.0          580     True