## Pandas - Combine DataFrame (Merge>Join; Concat>Append)

<img src="pic1.png" width=600 height=400 />

* join() is used to combine two DataFrames on the index but not on columns

* merge() supports joining on indexes and combination of index and columns

In [113]:
import pandas as pd

In [114]:
df1 = pd.DataFrame({'Col_A': ['A0', 'A1', 'A2', 'A3'],
                    'Col_B': ['B0', 'B1', 'B2', 'B3'],
                    'Col_C': ['C0', 'C1', 'C2', 'C3']})

In [115]:
df2 = pd.DataFrame({'Col_A': ['A0', 'A0', 'A6', 'A7'],
                    'Col_B': ['B0', 'B5', 'B6', 'B7'],
                    'Col_3': ['1', '2', '3', '4']})

In [116]:
inner = pd.merge(df1,df2, left_on='Col_A', right_on = 'Col_A', how='inner')
inner

  Col_A Col_B_x Col_C Col_B_y Col_3
0    A0      B0    C0      B0     1
1    A0      B0    C0      B5     2

In [118]:
inner1 = pd.merge(df1,df2,  left_index=True, right_index=True)
inner1

  Col_A_x Col_B_x Col_C Col_A_y Col_B_y Col_3
0      A0      B0    C0      A0      B0     1
1      A1      B1    C1      A0      B5     2
2      A2      B2    C2      A6      B6     3
3      A3      B3    C3      A7      B7     4

In [92]:
inner = pd.merge(df1,df2, left_on='Col_A', right_on = 'Col_A', how='inner',suffixes=['_df1','_df2'])
inner

  Col_A Col_B_df1 Col_C Col_B_df2 Col_3
0    A0        B0    C0        B0     1
1    A0        B0    C0        B5     2

Common Error: Consistnet dtype

In [120]:
pd.concat([df1,df2],axis=1)

  Col_A Col_B Col_C Col_A Col_B Col_3
0    A0    B0    C0    A0    B0     1
1    A1    B1    C1    A0    B5     2
2    A2    B2    C2    A6    B6     3
3    A3    B3    C3    A7    B7     4

## Web Scraping Instagram with Selenium

* Selenium automates web browsers. It is most famous for enabling rapid, repeatable web-app testing, which allows developers to ship new releases faster and with confidence.

In [121]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.support.wait import WebDriverWait
from selenium.common.exceptions import TimeoutException

import time

import os
import errno
import wget

### Step 1 - Open Web Driver

In [122]:
executable_path='/Users/leo/Python/chromedriver'
os.path.exists(executable_path)

True

In [123]:
driver = webdriver.Chrome(executable_path='/Users/leo/Python/chromedriver')
driver.get("https://www.instagram.com/accounts/login/")

/var/folders/xt/jgprkc4s215grbjd0stdxr040000gn/T/ipykernel_6773/3569813588.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(executable_path='/Users/leo/Python/chromedriver')

### Step 2 - Login In

In [124]:
username = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"input[name='username']")))
password = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"input[name='password']")))

# Use WebDriverWait to let selenium to wait for the target to be loaded (expected condition)

username.clear()
password.clear()

In [125]:
username.send_keys("ilovewynn888")
password.send_keys("ilvewynn")

In [126]:
login = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.CSS_SELECTOR,"button[type='submit']"))).click()

In [128]:
alert = WebDriverWait(driver, 15).until(EC.element_to_be_clickable((By.XPATH, '//button[contains(text(), "稍後再說")]'))).click()

### Step 3 - Fill out Search Word

In [129]:
searchbox = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH,"//input[@placeholder='搜尋']")))
searchbox.clear()

In [130]:
keyword = "bloombergbusiness"
searchbox.send_keys(keyword)

In [131]:
#Press Enter to Search
searchbox.send_keys(Keys.ENTER)
searchbox.send_keys(Keys.ENTER)

### Step 4 - Get Links for each post

In [132]:
anchors = driver.find_elements_by_tag_name('a')
anchors = [a.get_attribute('href') for a in anchors]
anchors = [a for a in anchors if str(a).startswith("https://www.instagram.com/p/")]
anchors

/var/folders/xt/jgprkc4s215grbjd0stdxr040000gn/T/ipykernel_6773/2782744204.py:1: DeprecationWarning: find_elements_by_tag_name is deprecated. Please use find_elements(by=By.TAG_NAME, value=name) instead
  anchors = driver.find_elements_by_tag_name('a')

['https://www.instagram.com/p/ChYNrEQp9MH/',
 'https://www.instagram.com/p/ChX_zhSBIuf/',
 'https://www.instagram.com/p/ChXlFndBzrg/',
 'https://www.instagram.com/p/ChXfi4BM7zh/',
 'https://www.instagram.com/p/ChXQnujO_6a/',
 'https://www.instagram.com/p/ChVsE0qNroP/',
 'https://www.instagram.com/p/ChVbllSuOhc/',
 'https://www.instagram.com/p/ChU8jPbhHK3/',
 'https://www.instagram.com/p/ChUxtxCgBt9/',
 'https://www.instagram.com/p/ChUZsaAgtae/',
 'https://www.instagram.com/p/ChUL9EGjkvE/',
 'https://www.instagram.com/p/ChUGlJ7p1Lp/',
 'https://www.instagram.com/p/ChTU_MyBcYD/',
 'https://www.instagram.com/p/ChS_qO1hUHU/',
 'https://www.instagram.com/p/ChSofQHBddy/',
 'https://www.instagram.com/p/ChSWiRHByVe/',
 'https://www.instagram.com/p/ChSGM-UsAb7/',
 'https://www.instagram.com/p/ChRuBsvAfpK/',
 'https://www.instagram.com/p/ChQRRT6sJkb/',
 'https://www.instagram.com/p/ChP8xDhBipy/',
 'https://www.instagram.com/p/ChPoOnxM1ZM/',
 'https://www.instagram.com/p/ChPTitwMWIw/',
 'https://www.instagram.com/p/ChOxObRAp4w/',
 'https://www.instagram.com/p/ChNse4-h7QC/']

### Step 5 - Like Post and Extract Image Link

In [133]:
images = []

for a in anchors[0:5]:
    driver.get(a)
    time.sleep(5)
    try:
        likebu = WebDriverWait(driver, 10).until(EC.element_to_be_clickable((By.XPATH, "//button[.//*[@aria-label= '讚' and @width='24']]")))
        likebu.click()
    except TimeoutException:
        print('Timeout:',a)

    img = driver.find_elements(By.TAG_NAME, "img")
    img = [i.get_attribute('src') for i in img]
    images.append(img[0])
    time.sleep(5)

Timeout: https://www.instagram.com/p/ChXlFndBzrg/
Timeout: https://www.instagram.com/p/ChXfi4BM7zh/
Timeout: https://www.instagram.com/p/ChXQnujO_6a/

### Step 6 - Create Folder to save images

In [134]:
import os
import wget

path = os.getcwd()
path = os.path.join(path, keyword + "s")

#create the directory
try:
    os.mkdir(path)
except OSError as e:
    if e.errno == errno.EEXIST:
        print('Directory existed.')
    else:
        raise

path

Directory existed.

'/Users/leo/Python/Wynn/bloombergbusinesss'

In [135]:
import ssl
ssl._create_default_https_context = ssl._create_unverified_context


for x,image in enumerate(images):
    save_as = os.path.join(path, keyword[1:] + str(x) + '.jpg')
    wget.download(image, save_as)

In [136]:
driver.close()